html,
body {
	background-color: #0a0a0a;
}

@keyframes fadeTop {
	from {
		opacity: 0;
		transform: translateY(-50px);
	}
	to {
		opacity: 1;
		transform: translateY(0px);
	}
}
@keyframes fadeBottom {
	from {
		opacity: 0;
		transform: translateY(30px);
	}
	to {
		opacity: 1;
		transform: translateY(0px);
	}
}
@keyframes fadeLeft {
	from {
		opacity: 0;
		transform: translateX(-30px);
	}
	to {
		opacity: 1;
		transform: translateX(0px);
	}
}
@keyframes cardImage {
	from {
		opacity: 1;
		transform: translateX(30px);
	}
	to {
		opacity: 1;
		transform: translateX(0px);
	}
}
@keyframes underlineDraw {
	from {
		width: 0px;
		opacity: 0;
	}
	to {
		width: 100px;
		opacity: 1;
	}
}

header.MuiAppBar-root {
	height: 64px;
	background-color: #151515bb !important;
	backdrop-filter: blur(15px);
}

.left {
	float: left;
}
.right {
	float: right;
}

.nav h3 {
	line-height: 3rem;
	transition: all 0.1s ease-out;
    color: #b3b3b3;
}
.nav h3:hover {
	content: "←";
	color: #ffffff;
	transform: translateX(-10px);
}
.nav h3.active {
	color: #ffffff;
}
.nav h3.active:hover {
    transform: translateX(0px);
}
.nav h3.active::after {
	content: "←";
	color: #3dd17f;
	margin-left: 10px;
	transition: all 0.1s ease-out;
}

.wrapper {
	padding-top: 150px;
	min-height: calc(100vh - 82px);
}

.content {
	opacity: 0;
	animation: fadeBottom 0.4s cubic-bezier(0, 0.7, 0.5, 1) 0.15s forwards;
}

img {
	-webkit-user-drag: none;
	user-select: none;
}
img.header {
	position: absolute;
	animation: fadeTop 1s cubic-bezier(0, 0.7, 0.5, 1) 0.2s forwards;
	opacity: 0;
}

h1,
h2,
h3 {
	font-weight: 600 !important;
	color: #ebebeb;
	hyphens: auto;
}
h2 {
	font-size: 2.125rem !important;
	line-height: 1.235 !important;
	padding-bottom: 15px;
}
h3 {
	font-size: 1.5rem !important;
}

p {
	color: #b3b3b3;
}
a {
	text-decoration: none !important;
	outline: none;
}
p a {
	color: #fff !important;
	text-decoration: none;
	transition: 0.2s;
	border-bottom: 0px solid #ffffff00;
}
p a:hover {
	transition: 0.2s;
	border-bottom: 1px solid #ffffff;
}
.MuiListItemText-root a {
	color: #fff !important;
	text-decoration: none;
	transition: 0.2s;
	border-bottom: 0px solid #ffffff00;
}
.MuiListItemText-root a:hover {
	transition: 0.2s;
	border-bottom: 1px solid #ffffff;
}

.MuiListItemIcon-root {
	font-size: 20px;
}
.MuiListItemText-root {
	color: #b3b3b3;
}

.content {
	padding: 50px 0;
}

.MuiButtonBase-root {
	margin: 0 10px 10px 0 !important;
}

/* Rounded corners for video embeds for example. */
iframe {
	border: none;
	border-radius: 4px;
	box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
		0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

/* As seen on the Home page */
.MuiCard-root.primary {
	padding: 10px;
	border: 1px solid #ffffff00;
	transition: all 0.2s cubic-bezier(0, 0.7, 0.5, 1);
	background-repeat: no-repeat;
	background-position: bottom right;
	background-size: 100px;
	padding-bottom: 0;
}
.MuiCard-root.primary h2::after {
	content: "→";
	margin-left: 10px;
	transition: 0.1s ease-out;
}
.MuiCard-root.primary h2:hover::after {
	margin-left: 15px;
}
.MuiCard-root.primary h2#discover::after {
	color: #3dd17f;
}
.MuiCard-root.primary h2#downloads::after {
	color: #256eff;
}
.MuiCard-root.primary h2#faq::after {
	color: #e63946;
}
.MuiCard-root.primary h2#contact::after {
	color: #f9c80e;
}

.DownloadCard img {
	border: 1px solid #ffffff00;
	transition: all 0.2s cubic-bezier(0, 0.7, 0.5, 1);
	cursor: pointer;
}
.DownloadCard img:hover {
	border: 1px solid #ffffff11 !important;
	transform: scale(1.02);
}
.DownloadCard img:active {
	transform: translateY(5px);
}

.MuiPaper-rounded {
	border-radius: 8px !important;
}

footer {
	padding: 15px 20px;
}

@media only screen and (max-width: 599px) {
	h1 {
		font-size: 4.25rem !important;
	}
}
