html {
	width: 100vw;
	overflow-x: hidden;
	margin-top: 145px;
}

:root {
	/* Main color palette */
	--greenPrimary: #0c6;
	--greenSecondary: #095;
	--redPrimary: #f34;
	--redSecondary: #b23;
	--bluePrimary: #19f;
	--blueSecondary: #17c;
	--yellowPrimary: #fb2;
	--yellowSecondary: #d92;
	--textPrimary: #bbb;
	--textSecondary: #eee;
	--textTertiary: #fff;
	--backgroundPrimary: #111;
	--backgroundSecondary: #222;
	--backgroundTertiary: #333;
	/* Easing */
	--easeOut: cubic-bezier(0, 0, 0.2, 1);
	/* Inset box shadow offsets */
	--boxInsetBody: -1.3rem;
	--boxInsetH2: -2.65rem;
	--boxInsetH3: -2rem;
	/* Fonts */
	--fontPrimary: "Silka", "Roboto", Helvetica, Arial, sans-serif;
	--fontSecondary: "Basier Square", "Roboto", Helvetica, Arial, sans-serif;
}

/* Scrollbars */
::-webkit-scrollbar {
	width: 16px;
}
::-webkit-scrollbar-track {
	background: var(--backgroundPrimary);
	border-radius: 8px;
	border: 4px solid var(--backgroundPrimary);
}
::-webkit-scrollbar-thumb {
	background: #202020;
	border-radius: 8px;
	border: 4px solid var(--backgroundPrimary);
}
::-webkit-scrollbar-thumb:hover {
	background: var(--backgroundTertiary);
}

/* Text selection */
::selection {
	color: var(--backgroundPrimary);
	background: var(--greenPrimary);
}

@keyframes fadeBottom {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

footer {
    padding: 0 30px;
    .copyright {
        animation: fadeBottom 0.375s var(--easeOut) .18s forwards;
        opacity: 0;
        float: left;
        margin-top: 5px;
    }
    .iconlinks {
        float: right;
        .MuiIconButton-sizeLarge {
            opacity: 0;
            animation: fadeBottom 0.375s var(--easeOut) forwards;
            color: var(--textPrimary);
            margin: 0 0 15px 10px;
        }
    }
}

nav {
	clear: right;
}
nav a {
	font-family: var(--fontPrimary);
	display: block;
	text-align: right;
	font-weight: bold;
	font-size: 1.5em;
	animation: fadeBottom 0.375s var(--easeOut) forwards;
	transition: all 0.2s var(--easeOut);
	color: var(--textPrimary);
	opacity: 0;
	&::after {
		content: "•";
		opacity: 0;
		transition: all 0.2s var(--easeOut);
		margin: 0 -6px;
	}
	&:hover,
	&:focus-visible {
		color: var(--textSecondary);
		letter-spacing: 0.75px;
	}
	&:active {
		letter-spacing: 0;
	}
	&.active {
		color: var(--textSecondary);
		&::after {
			color: var(--greenPrimary);
			opacity: 1;
			margin: 0 4px 0 8px;
		}
	}
}

img {
	-webkit-user-drag: none;
	user-select: none;
}

.title h1,
.title .MuiCard-root {
	animation: fadeBottom 0.375s var(--easeOut) 0.04s forwards;
	opacity: 0;
}
.title h2 {
	animation: fadeBottom 0.375s var(--easeOut) 0.08s forwards;
	opacity: 0;
}
.content {
	opacity: 0;
	animation: fadeBottom 0.375s var(--easeOut) 0.14s forwards;
}

/* General styles for links */
a {
	text-decoration: none !important;
	outline: none;
	color: var(--textSecondary);
	transition: background-color 0.15s;
}
/* General styles for links when tabbing through them */
p a:focus-visible,
h2 a:focus-visible,
h3 a:focus-visible {
	background-color: rgba(255, 255, 255, 0.12);
}

/* Underline for text links */
p a,
h2 a,
h3 a {
	transition: all 0.15s;
	box-shadow: inset 0 -1px 0 #ffffff55;
	margin: 0 0.3rem;
	padding: 0;
	&:hover {
		color: var(--backgroundPrimary);
		border-radius: 4px;
		margin: 0;
		padding: 0 0.3rem;
	}
}
/* Specific inset positions for each text size needed */
p a:hover {
	box-shadow: inset 0 var(--boxInsetBody) 0 var(--greenPrimary);
}
h2 a:hover {
	box-shadow: inset 0 var(--boxInsetH2) 0 var(--greenPrimary);
}
h3 a:hover {
	box-shadow: inset 0 var(--boxInsetH3) 0 var(--greenPrimary);
}
/* Special underline for external links */
p a.external {
	position: relative;
	margin: 0 0.5rem 0 0.3rem;
	padding: 0;
	&:hover {
		margin: 0;
		padding: 0 0.5rem 0 0.3rem;
	}
}
/* That arrow */
a.external::after {
	content: "↗";
	color: var(--bluePrimary);
	transition: all 0.15s;
	position: relative;
	top: 0.2rem;
	left: 0.2rem;
	margin-right: 0.2rem;
}
a.external:hover::after {
	color: var(--backgroundPrimary);
	top: 0rem;
	left: 0.45rem;
}
/* Specific inset positions for each text size needed */
p a.external:hover {
	box-shadow: inset 0 var(--boxInsetBody) 0 var(--bluePrimary);
}
h2 a.external:hover {
	box-shadow: inset 0 var(--boxInsetH2) 0 var(--bluePrimary);
}
h3 a.external:hover {
	box-shadow: inset 0 var(--boxInsetH3) 0 var(--bluePrimary);
}

.MuiListItemIcon-root {
	font-size: 20px;
}
.MuiListItemText-root {
	color: var(--textPrimary);
}

.content {
	padding: 25px 0 50px 0;
}

.MuiCircularProgress-root {
	color: var(--textSecondary) !important;
}

/* Standard paddings on cards suck. */
.MuiCardContent-root {
	padding: 16px 24px 16px 24px;
}
.MuiCardActions-root {
	padding: 0 16px 16px 16px;
}
.MuiAccordionSummary-root {
	padding: 4px 24px;
}
.MuiAccordionDetails-root {
	padding: 8px 24px 24px;
}

/* Show a little divider line when nav is put on top of main content */
nav hr {
	display: none;
}
@media only screen and (max-width: 1199px) {
	nav hr {
		display: block;
	}
}

@media only screen and (max-width: 599px) {
	h1 {
		font-size: 4.25rem !important;
	}
}
